.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-object {
  padding-left: 20px;
}

.header-nav-icon {
  padding: 32px;
}
